[project]
	description = Hands on Big Data Stack technologies and Data Science workaround
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kuldeep Dhole (dkuldeep11)
[access "refs/for/refs/*"]
	read = group user/Kuldeep Dhole (dkuldeep11)
	push = group user/Kuldeep Dhole (dkuldeep11)
	label-Code-Review = -2..+2 group user/Kuldeep Dhole (dkuldeep11)
	label-Verified = -1..+1 group user/Kuldeep Dhole (dkuldeep11)
	rebase = group user/Kuldeep Dhole (dkuldeep11)
	removeReviewer = group user/Kuldeep Dhole (dkuldeep11)
	submit = group user/Kuldeep Dhole (dkuldeep11)
[access "refs/heads/*"]
	read = group user/Kuldeep Dhole (dkuldeep11)
	create = group user/Kuldeep Dhole (dkuldeep11)
	push = +force group user/Kuldeep Dhole (dkuldeep11)
	pushMerge = group user/Kuldeep Dhole (dkuldeep11)
[access "refs/tags/*"]
	push = +force group user/Kuldeep Dhole (dkuldeep11)
	pushTag = group user/Kuldeep Dhole (dkuldeep11)
	pushSignedTag = group user/Kuldeep Dhole (dkuldeep11)
